@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body{
    background: black url(../img/fundo-hexagonal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
}
#phone{
    background-image: url(../img/frame-iphone.png);
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
iframe{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}
#options{
    position: absolute;
    top: 88%;
    left: 41%;
    background-color: rgb(233, 233, 233);
    border-radius: 40px;
}
#options img:hover{
    transform: translate(-0%, -10%);
    transition-duration: 0.3s;
}
#options img{
    width: 50px;
    margin: 5px;
    padding: 0px 10px;
    border-radius: 50%;
}